body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-icon {
  fill: rgb(100, 100, 100);
  position: absolute;
  top: 10px;
  right: 20px;
  width:20px;
  height:20px;
}

.phone-icon {
  position: relative;
  top: 6px;
  right: 5px;
  width: 12px;
  height: 12px;
}


.form-control {
  padding-right: 32px !important;
}

.profile-picture {
  width: 100px;
  height: 100px;
}

.card-body {
  border-bottom: 1px solid rgb(225, 225, 225);
}

.card-body p {
  margin: 0;
}

.info {
  margin-left: 20px;
}


.info p {
  margin: 0;
}

.menu-button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 576px) {
  .card-name {
    font-size: 20px !important;
  }
}